<table class="table table-striped table-bordered table-hover table-sm w-100">
  <thead class="table-header">
    <tr>
      <th scope="col" [appSort]="data" data-order="desc" data-name="producto">Producto</th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="evento">Evento</th>
      <th scope="col" [appSort]="data" data-order="desc" data-name="concepto">Concepto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td scope="row">{{ item["producto"] }}</td>
      <td>{{ item["evento"] }}</td>
      <td>{{ item["concepto"] }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refresh()"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refresh()"
  >
    <option [ngValue]="3">3 resultados/página</option>
    <option [ngValue]="5">5 resultados/página</option>
    <option [ngValue]="10">10 resultados/página</option>
  </select>
</div>
