<table class="table table-striped table-bordered table-hover table-sm w-100">
  <thead style="background-color: #444444; color: aliceblue">
    <tr>
      <th scope="col">Producto</th>
      <th scope="col">Evento</th>
      <th scope="col">Concepto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td scope="row">{{ item["producto"] }}</td>
      <td>{{ item["evento"] }}</td>
      <td>{{ item["concepto"] }}</td>
    </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination
    [collectionSize]="collectionSize"
    [(page)]="page"
    [pageSize]="pageSize"
    (pageChange)="refresh()"
  >
  </ngb-pagination>

  <select
    class="custom-select"
    style="width: auto"
    [(ngModel)]="pageSize"
    (ngModelChange)="refresh()"
  >
    <option [ngValue]="2">2 resultados/página</option>
    <option [ngValue]="4">4 resultados/página</option>
    <option [ngValue]="6">6 resultados/página</option>
  </select>
</div>
